[bar/mybar]
background = #00000000
font-0 = "OperatorMono Nerd Font:pixelsize=14;0"
modules-center = datetime

border-bottom-size  = 10
border-top-size     = 10
border-left-size  = 10
border-right-size = 10

tray-position = right
tray-background =  #9FE2BF
[module/datetime]
type = internal/date
interval = 1.0

label-background = #FA8072

date = "%Y-%m-%d%"
time = "%H:%M"

label = "%date% - %time%"
